<!-- Estilos CSS -->
<!-- Icono de pagina -->
<link rel="shortcut icon" type="image/x-icon" href="../static/img/icono.jpg">

<link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">

<link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="../static/plugins/fontawesome/css/fontawesome.min.css">

<link rel="stylesheet" href="../static/css/style.css">

<link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="../static/plugins/morris/morris.css">

<link rel="stylesheet" href="../static/css/fullcalendar.min.css">

<link rel="stylesheet" href="../static/css/select2.min.css">

<link rel="stylesheet" href="../static/css/bootstrap-tagsinput.css">

<link rel="stylesheet" href="../static/plugins/datetimepicker/css/tempusdominus-bootstrap-4.min.css">