<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | UTP Conecta +</title>
    {% include 'head.html' %}
</head>

<body>

    <div class="main-wrapper">
        {% include 'encabezado.html' %}
        {% include 'barraLateral.html' %}
        <div class="page-wrapper">
        </div>
    </div>


    <script src="../static/js/jquery-3.6.0.min.js"></script>

    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/jquery.slimscroll.js"></script>

    <script src="../static/js/select2.min.js"></script>
    <script src="../static/js/moment.min.js"></script>

    <script src="../static/js/fullcalendar.min.js"></script>
    <script src="../static/js/jquery.fullcalendar.js"></script>

    <script src="../static/plugins/morris/morris.min.js"></script>
    <script src="../static/plugins/raphael/raphael-min.js"></script>
    <script src="../static/js/apexcharts.js"></script>
    <script src="../static/js/chart-data.js"></script>

    <script src="../static/js/app.js"></script>

</body>

</html>