<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil | UTP Conecta +</title>
	{% include 'head.html' %}
</head>

<body>

	<div class="main-wrapper">

		{% include 'encabezado.html' %}
		{% include 'barraLateral.html' %}

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<h5 class="text-uppercase mb-0 mt-0 page-title">Mi perfil</h5>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<ul class="breadcrumb float-right p-0 mb-0">
								<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Inicio</a>
								</li>
								<li class="breadcrumb-item"><a href="#">Pagina</a></li>
								<li class="breadcrumb-item"><span> Perfil</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-box m-b-0">
					<div class="row">
						<div class="col-md-12">
							<div class="profile-view">
								<div class="profile-img-wrap">
									<div class="profile-img">
										<a href=""><img class="avatar" src="../static/img/user.jpg" alt=""></a>
									</div>
								</div>
								<div class="profile-basic">
									<div class="row">
										<div class="col-md-5">
											<div class="profile-info-left">
												<h3 class="user-name m-t-0">{{ user_data.Nombres }} {{ user_data.ApellidoPaterno }} {{ user_data.ApellidoMaterno }}</h3>
												<h5 class="company-role m-t-0 m-b-0">UNIVERSIDAD TECNOLOGICA DEL PERÚ
												</h5>
												<small class="text-muted"></small>
												<div class="staff-id">DNI: {{ user_data.DNI }}</div>
											</div>
										</div>
										<div class="col-md-7">
											<ul class="personal-info">
												<li>
													<span class="title">Telefono:</span>
													<span class="text"><a href="">{{ user_data.Telefono }}</a></span>
												</li>
												<li>
													<span class="title">Correo Electronico:</span>
													<span class="text"><a href=""><span class="__cf_email__"
																data-cfemail="422827242427303b2f352d2c2502273a232f322e276c212d2f">{{ user_data.Email }}</span></a></span>
												</li>
												<li>
													<span class="title">Fecha de Nacimiento:</span>
													<span class="text">{{ user_data.FechaNacimiento }}</span>
												</li>
												<li>
													<span class="title">Direccion:</span>
													<span class="text">{{ user_data.Direccion }}</span>
												</li>
												<li>
													<span class="title">Genero:</span>
													<span class="text">{{ user_data.Genero }}</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery-3.6.0.min.js"></script>

	<script src="../static/js/bootstrap.bundle.min.js"></script>

	<script src="../static/js/jquery.slimscroll.js"></script>

	<script src="../static/js/app.js"></script>

</body>

</html>